* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;      
    font-family: "quasimoda", sans-serif;
    font-weight: 100;
    font-style: normal;
    transition: background-color 0.5s ease;

}
.trail {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: fade-out 4s forwards;
}
@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}

h1,h2,h3{
    font-weight: 300;
}

h1{
    font-size: 3vh;
}

#nameBtn{
    transition: ease 0.2s;
}

#nameBtn:hover {
    color: #126889;
}

.landing-page-container{
    width: 100vw;
    min-height: 100vh;
    position: relative;
}
.page-container{
    height: auto;
    width: 100vw;
    transition: background-color 0.5s ease;
    z-index: 10;
    background-color: #F9F7F2;

}

.headerPlaceHolder{
    position: fixed;
    top: 0;
    z-index: 1000;

}
.header{
    height: 8vh;
    background-color: #126889;
    color: #EDED14;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    z-index: 1000;
    width: 100vw;
    font-size: 1rem;
    position: relative;
    bottom: 0;
}

.header-left, .header-center, .header-right {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 4vw;
    padding-right: 4vw;
    
   
}

.header-left{
    justify-content: flex-start;
}

.header-center{
    justify-content: center;

}
.logo-img{
    width: 30%;
    height: auto;
}

.header-right{
    justify-content: flex-end;
}

/* --- */

.main-container{
    height:100vh;
    width: 100vw;
    position: relative;
    padding: 4vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    z-index: 3;
}

.main-container h1{
    font-size: 3rem;
    line-height: 4rem;
   
}

.content-container,
.about-container{
    min-height: 92vh;
    position: relative;
    height:auto;
}

.hello-text{
    margin-top: 5vh;

}

/* about me */

.aboutMe{
    height: auto;
    z-index: 100;
}
.about-container{
    padding: 4vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: #AAA7A2;
    line-height: 2em;
    font-size: 1.5em;
}

.about-title {
    color: #EDED14;
    height: auto;
    width: auto;
}

.about-title h1{
    font-size: 2.5em;
}
.blurEffect{
    height: 6vw;
    position: sticky;
    z-index: 5;
    top: 5vh;
    width: 100vw;
    opacity: 0;
    filter: blur(1rem);
    background-color: #126889;
    
}

.about-title h1{
    position: sticky;
    top: 8vw; 
    left: 4vw;
}

.about-content h2,
.about-content p{
    margin-bottom: 5vh;
}

#about-paragraph{
    border-bottom: 1px solid #bbb;
    padding-bottom: 5vh;
}

#skills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: auto;
    font-size: 0.8em;
    gap: 2vw;
}

.skill-title{
    font-size: 1.5em;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}
#profile{
    display: flex;
    gap: 2vw;
}

#photoCaption{
    font-size: 0.9rem;
    align-self: flex-end; 
    color: #EDED14;
}
#profilePic{
    width: 40%;
    border-radius: 15px;
}
/* // */

.directory-title1,.directory-title2,.directory-title3,.directory-title4{
    display: none;
    position: absolute;
    height: 20px;
    width: auto;
    z-index: 5;
    font-size: 1.6rem;
    transform: translateY(2vh);
}

.back-button:hover{
    background-color: brown;
    color: antiquewhite;
}
#dynamic-time{
    margin-bottom: 3vh;
    color: #323F2F;
}

.directory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.directoryTitleStyle{
    color: #FFD2FF;
    font-weight: 700;
    text-shadow: 1px 1px 2px #126889, 0 0 1em #EDED14, 0 0 0.2em #126889;

}


/* Keyframes for falling effect */
@keyframes fallIn {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

#dirContainer1, #dirContainer2, #dirContainer3 {
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7vh;
    margin-top: 7vh;
    
    /* First, run fallIn */
    animation: fallIn 1s ease-out forwards, float 3s infinite ease-in-out;
    animation-delay: 0s, 1s; /* Delay float so it starts after fallIn is done */
}


#hoverIndicator{
    display: none;
    animation: fallIn 1s ease-out forwards, float 3s infinite ease-in-out;
    z-index: 10;
    color:#EDED14;
    text-shadow: 1px 1px 1px rgba(50, 63, 47, 0.3);
    font-weight: 400;
}
/* Add delays for cascading effect */
.directory > div:nth-child(1) {
    animation-delay: 3s;
}

.directory > div:nth-child(2) {
    animation-delay: 2s;
}

.directory > div:nth-child(3) {
    animation-delay: 0.4s;
}


.page-title {
    position: absolute;
   
}

.active {
    opacity: 0;
    position: absolute;
    transition: transform 0.5s ease
}

.visible {
    opacity: 1;
    transform: scale(1.1);
}

.hide {
    opacity: 0;
}

.directory img {
    height: 25vh;
    width: auto;
}


.intro-text{
    text-align: end;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.intro-text h2{
    color:#126889;
    margin-bottom: 3vh;
    font-size: 1.5rem;
}
.intro-text h1{
    margin-bottom: 5vh;
}

#intro-contact{
    display: flex;
    gap: 3vw;
    z-index: 10;
}
#intro-contact h2 {
    margin-bottom: 0;
}
.introduction{
    color:#AAA7A2;
}

#intro-contact h2{
    font-size: 2rem;
    z-index: 3;
}

/* .buttonPlaceHolder{
    width: auto;
    position: absolute;
    height: fit-content;
    background-color: #F9F7F2;
    width: fit-content;
} */

/* button animation */
.button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;  
    height: fit-content;
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
    z-index: 1000;
    outline: 0.7px solid;
}

.buttonContent{
    position:relative;
    height: inherit;
    width: inherit;
    padding-left: 1vh;
    padding-right: 1vh;
    z-index: 10;
}


.button h3{
    font-size: 1.3rem;
}

.button-expand{
    position: absolute;
    height: 100%;
    width: 0;
    transition: width ease 0.7s;
    border-radius: 5px;

}





.backToTop{
    width: fit-content;
    place-self: center;
    margin-bottom: 5vh;
    z-index: 10;
    color: #EDED14;

}


.buttonText{
    width: 10vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.buttonContainer{
    position: absolute;
    transition: width 0.5s;
    z-index: 10;
    /* overflow: hidden; */
}



.buttonContainer:hover{
    width: 10vw;
}

.footer{
    height:auto;
    width: 100vw;
    background-color: #AAA7A2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-sizing: border-box;
    position:relative;
    padding: 4vw;
    gap: 10px;
    bottom: 0;
    z-index: 105;

}
.contact-title,
.contact-info{
    height: 90%;
}

.contact-title h1{
    font-size: 4rem;
    color:#FFD2FF;
}
.contact-info h2 {
    margin-bottom: 2vh;
    font-size: 1.5rem;
}

.contact-info a {
    text-decoration: none;
    color: #F9F7F2; 
}


.contact-info a:hover {
    color: #EDED14;
}


.fineprint{
    text-align: end;
    right: 0;
    text-wrap: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 4vw;
    margin-bottom: 3vh;
    color:#323F2F;
}


.contact-info .link a {
    color:#F9F7F2;
    text-decoration: none; 

}

.contact-info .link a:hover {
    color: #EDED14; 
}

.backBtn {
    position: fixed;
    z-index: 1000;
    top: 10vh;
    left: 5vw;
    color: #126889;
}


/* .stickyParent{
    scroll-behavior: smooth;
    
}

.sticky{
    overflow: hidden;
    position:sticky;
    top:8vh;
    height: 92vh;
}


.scrollSection {
    position: absolute;
    top: 0;
    display: flex; 
    width: max-content;
    will-change: transform;
} */

/* .headerTest{
    height: 8vh;
    background-color: #323F2F;
    position: absolute;

} */

/* .scrollNotice{
    position: absolute;
    z-index: 100;
   bottom: 40vh;
   left:3vw;
   font-style: italic;
} */


.project {
    width: auto;
    display: flex;
    flex-direction: column;
    z-index: 100;
    margin-top: 150vh;
    text-align: end;
    line-height: 300%;
    transition:  ease 0.5s;
}

.project h3 {
    overflow: hidden;
    font-size: 2.7rem;
}


.thumbnailContainer{
    position:absolute;
    width: 100%;
    height: 80%;
    display: none;
    padding-top: 10vh; 
    transition:  opacity ease 1s;
 

    
}


.thumbnailPic{
    padding: 3vh;
    width: 20vw;
    max-height: 30vh;
    object-fit: contain;
    color: #126889;

}

.materialList{
    text-align: center;
    list-style-type:none;
    width: 100%;
    align-items: center;
    /* margin-top: 2vh; */
    color: #323F2F;
}

/* .spotlight{
    height: 80vh;
    width: 20vw;
    background-color: tomato;
    position: absolute;
    z-index: 50;
    place-self: center;
    
} */

/* .distanceDisplay {
    font-family: Arial, sans-serif;
    text-align: center;
} */



#project-info-container{
    min-height: 92vh;
    height: auto;
    box-sizing: border-box;
    top: 8vh;
    position: relative;
    padding: 5vw;
    background-color: #F9F7F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vh;
    
}

#pinterest-info-container{
    min-height: 92vh;
    height: auto;
    box-sizing: border-box;
    top: 8vh;
    position: relative;
    padding: 5vw;
    background-color: #F9F7F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vh;
    overflow-x: hidden;
    margin-bottom: 10vw;
}

#competitor-analysis{
    width: 100%;
    height: auto;
}
#content,
#content-buttons,
.progress,.reflection{
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    gap: 3vw;
    margin: 2vh;
    position: relative;
}

#pinterest-content{
    display: flex;
    height: auto;
    width: 100%;
    gap: 3vw;
    margin: 2vh;
    position: relative;
}

.title{
    min-width: 30vw;
    height: auto;
}


.progress{
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1;
    height: fit-content;
}

#content-buttons{
    height: auto;
}

.button-center,.button-right, .button-left{
    display: flex;
    justify-content: flex-start;
    width: 30vw;
    color: #126889;
}

.pinterest-content-center,
.content-center,
.content-left,
.content-right,.progressTitle,.progressPhoto,.button-left,.button-center,.button-right{
    padding: 1vh;
    list-style: none;
}


.content-center,.content-right,.pinterest-content-center{
    font-size: 1rem;
    line-height: 200%;
}

.reflection{
    height: 30vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1;
    margin-top: 3vh;
    gap: 3vw;    

}
.progressTitle,
.reflectionTitle,
.title h1{
    font-size: 2.5rem;
    padding: 1vh;
    width: 100%;
    
}

.reflectionText{
    height: 100%;
    width: 100%;
}
.column-layout{
    display: flex;
    flex-direction: row;
}


.column-layout *{
    padding-right: 2vh;
    text-align: center;
}

#three-columns *{
    width: 20vw;
}
#four-columns *{
    width: 15vw;
}

.titleProject{
    z-index: 100;
}

.projectTitle{
    z-index: 100;
    color: black;
    font-size: 1.5rem;
}

.materialListContent{
    list-style: none;
}
.projectDetails{
    line-height: 200%;
}

.projectButtonContainer{
    background-color:#AAA7A2;
    height: 20px;
    font-weight: 100px;
    position: relative;
}


.test{
    color: #323F2F;
    height: 30px;
    z-index: 500;
}


.headerButton{
    display: flex;
    flex-direction: row;
    gap:2vw;
}

.headerButton *:hover{
    color: #323F2F;
}

.clickIndicator{
    position: relative;
    z-index: 5000;
    top: 10vh;
    width: 100vw;
   text-align: center;
    position:fixed;
    font-size: 1.5rem;
    transition: ease;
    display: none;
    color: #EDED14;
    animation: blink 1s infinite; 
    font-weight: bold;


}

@keyframes blink {
    0% {
        opacity: 1;  /* Fully visible */
    }
    50% {
        opacity: 0;  /* Invisible at half time */
    }
    100% {
        opacity: 1;  /* Back to fully visible */
    }
}


.imageShake{
        animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .nameGif{
    width: 20vw;
    padding-bottom: -6vh;
    transition: ease 0.5s;

  }

  .nameGif:hover{
    transform: scale(1.1);
  }

  #projects-container{
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
    transition: ease;
    animation: fadeIn 1s ease forwards;position: relative;
    padding: 5vh;
    padding-top: 14vh;
  }

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

  .projectElement{
    margin-top: 3vh;
    background-color:#FFD2FF;
    min-height: 50vh;
    height: auto;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}



.projectPictureContainer{
    height: 50vh;
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectInfo{
    height: 50vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
}
.projectPicture{
    height: auto;
    width: auto;
    max-height: 70%;
    max-width: 80%;
    padding: 2vh;
    border-radius: 30px;
}

.projectName,
.projectMaterial,
.projectDetailBtn{
    color: #323F2F;
    height: 50vh;
    width: 20vw;
    padding: 2vh;
    padding-top: 6vh;
}


.projectDetailBtn{
    display: flex;
    flex-direction: column;
    z-index: 10;
    color: #126889;
}


.projectNameContent{
    font-size: 1rem;
    line-height: 5vh;
    font-weight: bold;
}

.projectNameContent h3{
    color:#126889 ;
}
.projectMaterialContent{
    list-style: none;
    line-height: 200%;
}


.visitBtn,
.moreInfoBtn{
    margin-bottom: 2vh;
}

#projectPhotoBanner{
    width: 100%;
    height: 70vh;
    position: relative;
    border-radius: 30px;
    display: flex;
    background-color:#323F2F;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    color: #F9F7F2;
}

#thumbnail-right,
#thumbnail-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

.test{
    z-index: 10000;
    background-color: #323F2F;
}

.banner2{
    background-color: #EDED14;
}

.projectThumbnail{
    height: 60%;
    width: auto;
    border-radius: 15px;
}

.projectHighlight{
    height: 100vh;
    width: 100vw;
    
}
#highlightContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10vw;
    min-height: 100vh;
    padding: 2vw;
    gap: 2vw;
    text-align: center;
}

.documentationElement{
    max-height: 30vh;
    width: auto;
    border-radius: 15px;
    object-fit: cover;

}
.progressPhoto {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: flex-start;
    align-items: flex-start;

}

img.progressPhoto,
video.progressPhoto {
    transition: transform 1s ease;
}

img.progressPhoto:hover,
video.progressPhoto:hover {
    transform: scale(1.05);
}



.content-left,
.progressTitle,
.reflectionTitle,
.title h1{
    width: 30vw;
    color: #126889;
}

#password-prompt{
    background-color: #F9F7F2;
    width: fit-content;
    height: fit-content;
    padding: 5vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    color: #323F2F;
    justify-self: center;
    align-items: center;
    margin-top: 30vh;
}

#password-prompt, #protected-content {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 15vw;
}

input[type="password"]:focus {
    border-color: #FFD2FF; 
    border-width: 2px; 
    outline: none; 
}

button {
    padding: 8px 15px;
    background-color: #126889;
    color:#F9F7F2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#protected-content{
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
}


/* phone */
@media (max-width: 768px) {
     html, body {
        width: 100vw;
    }

    .header{
        width: 100vw;
        position: fixed;
        z-index: 100;
    }
    .header-center{
        visibility: hidden;
    }

    .header-left {
        font-size: 0;
    }
      
    .header-left::after {
        content: "Carla Budar";
        font-size: 16px;
        display: block; 
        text-align: left;
        white-space: nowrap;
 
    }

    .headerButton h3,
    .header-left::after {
        font-size: 1rem;
    }
  

   

    
    .main-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        margin-top: 8vh;
        width: 100vw;
        padding: 0;
        height: 92vh;
    }

    .hello-text{
        position: relative;
        height: 20vh;
        width: 100%;
        margin-top: 0;
        padding: 3vw;
        padding-top: 3vh;
    }

    #dynamic-time{
        font-size: 60%;
        margin-bottom: 1vh;
    }
    .hello-text h1{
        font-size:1.6rem; 
        line-height: 1.5;
        width: 90%;
    }

    .nameGif{
        width: 30vw;
    
      }
    .directory{
        margin-top: 5vh;
    }

    #hoverIndicator{
        font-size: 0;
    }
    #hoverIndicator::after{
        content: "Click Me!";
        font-size: 1.5rem;
        display: block; 
        white-space: nowrap;
    }



    .intro-text{
        height: 15vh;
        align-self: end;
        padding: 3vw;
        width: 100vw;
        box-sizing: border-box;
    }


    .intro-text h2{
        font-size: 1.3rem;
        margin-bottom: 2vh;
    }

    #intro-contact{
        width: 100%;    
        justify-content: end;
        height: 10vh;
    }

    #intro-contact h2{
        font-size: 1rem;
    }

    .about-container{
        width: 100vw;
        display: flex;
    }
    .aboutMe{
        width: 100vw;
        box-sizing: border-box;
    }
    .about-title{
        width: 30vw;
        font-size: 15px;

    }

    .about-content{
        width: 60vw;
    }

    .about-content h2{
        font-size: 1.1em;
        line-height: 2.2rem;
        margin-bottom: 2vh;
    }

    #about-paragraph{
        font-size: 0.6em;
        line-height: 1.4rem;
    }
    
    #software p,
    #programming p{
        font-size: 0.9rem;
        line-height: 3vh;
    }
    .skill-title{
        font-size: 1.5rem;
    }

    .backToTop{
        scale: 0.8;
    }

    #profile{
        flex-direction: column;
        place-items: flex-start;
    }
    #photoCaption{
        text-align: left;
        line-height: 3vh;
        width: 30vw;
        align-self: flex-start;
        
    }

    .contact-title{
        width: 30vw;
    }

    .contact-title h1{
        font-size: 1.5rem;
    }

    .contact-info{
        width: 70vw;
    }
    .contact-info h2{
        font-size: 1rem;
    }

    .fineprint{
        max-width: 100%;
        height: fit-content;
    }
    .fineprint p{
        font-size: 0.55rem;
    }


    .page-container{
        display: flex;
        flex-direction: column;
     }

    
    #projects-container,
    #project-info-container{
        overflow-x:hidden;
        width: 100vw;    
        gap:0vh;
    }




.footer{
    width: 100vw;
    height: 20vh;
    position: relative;
}

#content-buttons{
    margin-bottom: 10vh;
}




    .projectElement{
        margin-top: 3vh;
        min-height: 20vh;
        border-radius: 15px;
    }
    
    .projectInfo,
    .projectPictureContainer{
        height: 20vh;
    }
    .projectPictureContainer{
        width: 60%;
    }

    .projectPicture{
        border-radius: 10px;
        max-height: 70%;
        max-width: 95%;
        padding: 0;
    }

   

    .projectInfo{
        flex-direction: column;
        width: 40%;
        gap: 0vh;
        margin: 0vh;
        gap: 0;

    }

    .projectDetailBtn{
        height: 20%;
        margin: 0vh;
        height: fit-content;
        padding: 0vh;
        gap: 0vh;
        border: 0vh;
    }


    .moreInfoBtn{
        margin-left: 1vh;
        margin-bottom: 1vw;

    }

    .visitBtn{
        margin-left: 1vh;

    }

    .projectName,
    .projectDetailBtn{
        width: 100%;
        padding: 1vh;
        height: fit-content;
    }

    .projectDetailBtn{
        padding: 0vh;
        height: auto;

    }
   

    .projectDetailBtn h3{
        font-size: 0.6rem;
    }
    


    .projectName h1{
        font-size: 0.9rem;
        line-height: 3vh;
    }

    .projectMaterial{
        display: none;
    }

 
    #projectPhotoBanner{
        margin-top: 8vh;
        height: 30vh;
        height: 30vh;      
    }
 
    .projectThumbnail{
        max-height: 80%;
        max-width: 80%;
        height: auto;
        border-radius: 10px;
    }

    .content-center{
        width: 60vw;
    }

    .pinterest-content-center{
        background-color: #323F2F;
    }

    #content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto; 
        /* grid-template-areas:
            "left center"
            "right center"; 
            "right center";  */
        gap: 20px;
    }

    .content-left{
        height: fit-content;
    }
    
    .content-left h2 {
    .content-left h2{
        white-space: normal; 
        overflow-wrap: break-word; 
        word-wrap: break-word;
        font-size: 1.8rem;
    }

 

    .content-left h3{
        font-size: 1.5rem;
    }

    .content-right{
       align-self: start;
       position:inherit;
       
    }
    .content-left {
        grid-area: left;
    }

    .content-right {
        grid-area: right;
    }

    .content-center {
        grid-area: center;
    }
    
    .documentationElement{
        max-height: 20vh;
        max-width: 25vw;
        border-radius: 5px;
        object-fit: cover;
    
    }


    #project-info-container h1{
        font-size: 1.5rem;
    }


    
    #content,
    .progress,
    .reflection{
        gap: 1vw;
    }


#project-info-container{
    position: relative;
}

    .reflection{
        height: 20vh;
    }

    .about-title h1{
        position: sticky;
        top: 10vh; 
        left: 4vw;
    }

    
    }
}